<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="iEr_MKIBkqw6bTzVhaTEnslOv7PwnxwLraFtm9ooDYU">
    <title>GrahamAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='G.png') }}">
</head>
<body>
    <div class="chat-container">
        <div class="flex items-center gap-3 mb-4">
            <img src="{{ url_for('static', filename='G.png') }}" alt="Logo GrahamAI" style="height:30px; width:30px;">
            <h2 class="text-2xl font-bold text-green-700">GrahamAI</h2>
        </div>

        <div id="messages"></div>

        <div class="input-area">
            <input id="messageInput" type="text" placeholder="Écris un message..." />
            <button onclick="sendMessage()">Envoyer</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>









