<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="iEr_MKIBkqw6bTzVhaTEnslOv7PwnxwLraFtm9ooDYU">
    <title>GrahamAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='G.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
</head>
<body>
<div class="main-container">
    <div class="sidebar">
        <button id="newChatBtn">+ Nouveau chat</button>
        <ul id="chatList"></ul>
    </div>

    <div class="chat-wrapper">
        <div class="chat-container">
            <h2>GrahamAI</h2>
            <div id="messages"></div>
            <div class="input-area">
                <textarea
                    id="messageInput"
                    placeholder="Écris ton message..."
                    rows="2"
                ></textarea>
                <button onclick="sendMessage()">Envoyer</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

